<div class="col-md-6 offset-md-3">
    <div class="panel panel-default">
        <h2>Sign in</h2>
        <form name="form">
            <div class="form-group">
                <input [(ngModel)]="email" type="text" class="form-control" name="email" placeholder="Email/Username" />
            </div>
            <div class="form-group">
                <input [(ngModel)]="password" type="password" class="form-control" name="password"
                    placeholder="Password" />
            </div>
            <div class="form-group">
                <button (click)="onLogin()" class="btn btn-primary">Login</button>
            </div>
        </form>
    </div>
</div>