.nav-item {
    font-weight: bold;
    font-size: larger;
}

.navbar-nav li>a:hover {
    color: aqua;
}

.bigger {
    font-weight: bolder;
}

.hover-enlarge {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.hover-enlarge:hover, .hover-enlarge:focus, .hover-enlarge:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}