<div class="col-md-6 offset-md-3">
  <div class="panel panel-default">
    <h2>Register</h2>
    <form name="form">
      <div class="form-group">
        <label>Email</label>
        <input [(ngModel)]="email" type="text" class="form-control" name="email"/>
      </div>
      <div class="form-group">
        <label>Password</label>
        <input [(ngModel)]="password1" type="password" class="form-control" name="password1"/>
      </div>
      <div class="form-group">
        <label>Re-type Password</label>
        <input [(ngModel)]="password2" type="password" class="form-control" name="password2"/>
      </div>
      <div class="form-group">
        <label>Description</label>
        <input [(ngModel)]="desc" type="text" class="form-control" name="desc"/>
      </div>
      <div class="form-group">
        <button (click)="registerMember()" class="btn btn-primary">Register</button>
        <a [routerLink]="['/login']" class="btn btn-link">Cancel</a>
      </div>
    </form>
  </div>
</div>
